body {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

div {
  width: 50%;
  margin-left: 25%;
  font-family: "Libre Baskerville", serif;
}

img {
  border: 5px solid white;
  width: 100%;
  margin-top: 50px;
}

p {
  font-size: 0.9rem;
}
